<% if (site.posts.length) { %>
    <div class="widget-wrap widget-list">
        <h3 class="widget-title"><%= __('sidebar.myinfo') %></h3>
        <div class="widget">
            QQ: 965899915<br/>
            Email:965899915@qq.com
        </div>
    </div>
<% } %>