<% if (site.posts.length) { %>
    <div class="widget-wrap widget-list">
        <h3 class="widget-title"><%= __('sidebar.myinfo') %></h3>
        <div class="widget">
            QQ: 965899915<br/>
            Email:965899915@qq.com<br/><br/>
            <a href="https://www.aliyun.com/minisite/goods?userCode=nzwsi386" target="_blank">
                <img src="/css/images/aliyun.jpg" style="height:50px;width:300px"/>
            </a>
        </div>
        
    </div>
<% } %>